{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Your vacation, tours and travel to Senegal" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blablacartours - Travel App</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'styles/plugins.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
  </head>

  <body class="rlr-body--yellow">

    <script src="{% static 'vendors/navx/js/navigation.min.js' %}" defer></script>
    <script src="{% static 'js/main.js' %}" defer></script>
  </body>
</html>
